/* ! universal styles */
/* ? reset css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

/* ? pseudo class */
:root {
	--primary-color: #1bbc9b;
	--secondary-color: #f4931e;
	--ternary-color: #fff;
	--quarternary-color: #878787;
	--font-size-h1: 80px;
	--font-size-h2: 60px;
	--font-size-h3: 24px;
	--font-size-h4: 18px;
	--font-size-h5: 14px;
	--border-line: 1px solid red;
	--transition: all 0.5s;
	--padding-inset: 8%;
}

/* ? pseudo elemen */
::selection {
	color: var(--primary-color);
	background-color: var(--secondary-color);
}
::placeholder {
	color: var(--quarternary-color);
	font-size: var(--font-size-h4);
	caret-color: var(--secondary-color);
}

/* ? body */
body {
	font-family: Poppins, Arial, Helvetica, sans-serif;
	font-size: var(--font-size-h4);
}

/* ? main */
.main {
	position: relative;
	/* border: var(--border-line); */
	width: 100%;
}

/* ? header */
.header {
	position: fixed;
	top: 0;
	left: 0;
	/* border: var(--border-line); */
	width: 100%;
	height: 100px;
	background-color: #1bbc9ccb;
	padding: 20px var(--padding-inset);
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 99999;
	/* border: var(--border-line); */
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
	transition: var(--transition);
	backdrop-filter: blur(10px);
}
.header__logo {
	font-size: var(--font-size-h3);
	display: block;
	width: 150px;
	cursor: pointer;
}
/* .header__span {
	color: var(--secondary-color);
	display: block;
	font-size: var(--font-size-h3);
} */
.header__list {
	display: flex;
	gap: 40px;
	font-size: var(--font-size-h4);
}
.header__list-item {
	color: var(--ternary-color);
	font-size: var(--font-size-h4);
	transition: var(--transition);
	font-weight: 500;
}
.header__list-item::after {
	display: table;
	content: ' ';
	background-color: var(--ternary-color);
	width: 100%;
	height: 2.5px;
	transform: scale(0);
	opacity: 0;
	transition: var(--transition);
	transform-origin: left;
	margin-top: 2px;
}
.header__list-item:hover::after {
	transform: scale(1);
	opacity: 1;
}
/* hidden  */
.hidden__button {
	display: none;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	transition: var(--transition);
}
.hidden__hamburger {
	width: 22px;
	height: 3px;
	margin: 5px 0;
	display: block;
	background-color: var(--ternary-color);
	transition: var(--transition);
}
.hidden__box {
	display: none;
	position: absolute;
	width: 300px;
	background-color: #1bbc9ccb;
	backdrop-filter: blur(10px);
	top: 100px;
	right: 0;
	opacity: 80%;
	transform: scale(1);
	z-index: 999;
	transition: var(--transition);
}
.hidden__link {
	display: block;
	color: var(--ternary-color);
	font-size: var(--h5-font);
	padding: 20px 10%;
	transition: var(--transition);
}
.hidden__link:hover {
	background-color: var(--ternary-color);
	color: var(--third-color);
}

/* ! page one */
/* ? hero */
.hero {
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url('images/hero.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.hero__box {
	padding: 240px var(--padding-inset) 140px;
}
.hero__left {
	display: flex;
	flex-direction: column;
	gap: 40px;
	color: var(--ternary-color);
}
.hero__title {
	font-size: var(--font-size-h1);
}
.hero__text {
	font-size: var(--font-size-h4);
}
.hero__span {
	display: block;
	margin-top: -10px;
}
.hero__search {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	position: relative;
	margin: 65px 0 45px;
}
.hero__input {
	width: 100%;
	height: auto;
	border: none;
	outline: none;
	padding: 25px;
	border-radius: 50px;
	color: var(--quarternary-color);
	font-size: var(--font-size-h4);
	caret-color: var(--primary-color);
}
.hero__button {
	width: 120px;
	height: auto;
	border: none;
	outline: none;
	padding: 13px;
	border-radius: 50px;
	background-color: #000;
	cursor: pointer;
	position: absolute;
	text-align: center;
	right: 2%;
	transition: var(--transition);
}
.hero__button:hover {
	transform: scale(1.1);
}

/* ? explore */
.explore {
	position: relative;
	padding: 140px var(--padding-inset);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
}
.explore__title {
	font-size: var(--font-size-h2);
	text-align: center;
	width: 70%;
}
.explore__title--second {
	font-size: var(--font-size-h3);
	text-align: left;
	margin: 20px;
}
.explore__text {
	font-size: var(--font-size-h4);
	color: var(--quarternary-color);
	margin: 20px;
}
.explore__box {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	margin: 80px auto 0;
	/* border: var(--border-line); */
}
.explore__child {
	width: 33%;
	height: auto;
	gap: 20px;
	box-shadow: 0 0 20px 0 rgb(0, 0, 0, 0.4);
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
}

.explore__image {
	width: 100%;
	height: auto;
	transition: var(--transition);
}
.explore__image:hover {
	filter: grayscale(0.5);
}
.explore__child__title {
	font-size: var(--font-size-h3);
	margin-top: 30px;
}
.explore__child__text {
	font-size: var(--font-size-h5);
	width: 75%;
	color: var(--quarternary-color);
	text-align: justify;
}

/* ? services */
.services {
	position: relative;
	padding: 140px var(--padding-inset);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	background-color: var(--primary-color);
}
.services__title {
	font-size: var(--font-size-h2);
	text-align: center;
	color: var(--ternary-color);
}
.services__text {
	font-size: var(--font-size-h4);
	color: var(--ternary-color);
	text-align: center;
}
.services__box {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	margin: 80px auto 0;
	/* border: var(--border-line); */
	/* height: 400px; */
}
.services__child {
	width: 25%;
	height: auto;
	gap: 20px;
	box-shadow: 0 0 20px 0 rgb(0, 0, 0, 0.4);
	background-color: var(--ternary-color);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 30px;
	border-radius: 10px;
	cursor: pointer;
	transition: var(--transition);
}
.services__child:hover {
	transform: scale(1.1);
}
.services__bg__image {
	width: 80px;
	height: 80px;
	display: block;
}
.services__image {
	width: 100%;
	height: auto;
	display: block;
	color: var(--ternary-color);
}
.services__child__title {
	font-size: var(--font-size-h3);
	margin-top: 20px;
}
.services__child__text {
	font-size: var(--font-size-h4);
	width: 85%;
	color: var(--quarternary-color);
	text-align: justify;
}
.services__box__icon {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: flex-start;
}
.services__child__more {
	font-size: var(--font-size-h4);
	font-weight: 500;
	cursor: pointer;
	transition: var(--transition);
}
.services__child__more:hover {
	opacity: 0.8;
}
/* .services__child__more:hover .services__child__icon {
	transform: translateX(-10px);
} */
.services__child__icon {
	display: block;
	font-size: var(--font-size-h3);
	transition: var(--transition);
}

/* ? testimonial */
.testimonial {
	position: relative;
	padding: 140px var(--padding-inset);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
}
.testimonial__title {
	font-size: var(--font-size-h2);
	text-align: center;
}
.testimonial__text {
	font-size: var(--font-size-h4);
	text-align: center;
	color: var(--quarternary-color);
}
.testimonial__box {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	margin: 80px auto 0;
	/* border: var(--border-line); */
	/* height: 400px; */
}
.testimonial__child {
	width: 29%;
	height: auto;
	gap: 20px;
	box-shadow: 0 0 20px 0 rgb(0, 0, 0, 0.4);
	background-color: var(--ternary-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	border-radius: 10px;
	position: relative;
	cursor: pointer;
}
.testimonial__bg__image {
	width: 130px;
	height: 130px;
	display: block;
	border-radius: 50%;
}
.testimonial__image {
	width: 100%;
	height: auto;
	display: block;
	color: var(--ternary-color);
}
.testimonial__child__title {
	font-size: var(--font-size-h3);
}
.testimonial__child__box-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.testimonial__child__icon {
	width: 30px;
	height: 30px;
	color: var(--secondary-color);
	display: block;
	font-size: var(--font-size-h3);
}
.testimonial__child__text {
	font-size: var(--font-size-h4);
	width: 85%;
	color: var(--quarternary-color);
	text-align: justify;
}

/* ! page two */
/* ? hero second */
.hero__second {
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url('images/about.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.hero__second__box {
	padding: 460px var(--padding-inset) 360px;
	color: var(--ternary-color);
}
.hero__second__title {
	font-size: var(--font-size-h1);
	text-align: center;
}
.hero__second__text {
	font-size: var(--font-size-h4);
	text-align: center;
	color: var(--ternary-color);
	display: block;
}
.hero__second__span {
	display: block;
	margin-top: -10px;
}

/* ? skill */
.skill {
	position: relative;
	padding: 140px var(--padding-inset);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
}
.skill__title {
	font-size: var(--font-size-h2);
	text-align: center;
}
.skill__text {
	font-size: var(--font-size-h4);
	color: var(--quarternary-color);
	text-align: center;
}
.skill__box {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	margin: 80px auto 0;
	/* border: var(--border-line); */
	/* height: 400px; */
}
.skill__child {
	width: 25%;
	height: auto;
	gap: 20px;
	box-shadow: 0 0 20px 0 rgb(0, 0, 0, 0.4);
	background-color: var(--ternary-color);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 30px;
	border-radius: 10px;
	cursor: pointer;
	transition: var(--transition);
}
.skill__child:hover {
	transform: scale(1.1);
}
.skill__bg__image {
	width: 80px;
	height: 80px;
	display: block;
	margin: auto;
}
.skill__image {
	width: 100%;
	height: auto;
	display: block;
	color: var(--ternary-color);
}
.skill__child__title {
	font-size: var(--font-size-h3);
	margin-top: 20px;
	text-align: center;
}
.skill__child__text {
	font-size: var(--font-size-h4);
	color: var(--quarternary-color);
	text-align: center;
}
.skill__box__icon {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: flex-start;
}

/* ? update */
.update {
	position: relative;
	padding: 140px var(--padding-inset);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	background-color: var(--primary-color);
	color: var(--ternary-color);
}
.update__title {
	font-size: var(--font-size-h2);
	text-align: center;
	color: var(--ternary-color);
}
.update__text {
	font-size: var(--font-size-h4);
	color: var(--ternary-color);
	text-align: center;
}
.update__box {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	margin: 80px auto 0;
}
.update__child {
	width: 29%;
	height: auto;
	gap: 20px;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	border-radius: 10px;
	position: relative;
	cursor: pointer;
}
.update__bg__image {
	width: 250px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
.update__image {
	width: 90px;
	height: auto;
	display: block;
	color: var(--ternary-color);
	float: left;
	margin-right: 20px;
}
.update__row {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.update__child__title {
	font-size: var(--font-size-h3);
	text-align: center;
}
.update__child__text {
	font-size: var(--font-size-h4);
	text-align: justify;
}

/* ! page three */
/* ? hero third */
.hero__third {
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url('images/package.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.hero__third__box {
	padding: 460px var(--padding-inset) 360px;
	color: var(--ternary-color);
}
.hero__third__title {
	font-size: var(--font-size-h1);
	text-align: center;
}
.hero__third__text {
	font-size: var(--font-size-h4);
	text-align: center;
	color: var(--ternary-color);
	display: block;
}
.hero__third__span {
	display: block;
	margin-top: -10px;
}

/* ? populer */
.populer {
	position: relative;
	padding: 140px var(--padding-inset);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
}
.populer__title {
	font-size: var(--font-size-h2);
	text-align: center;
	width: 70%;
}
.populer__title--second {
	font-size: var(--font-size-h3);
	text-align: left;
	margin: 20px;
}
.populer__text {
	font-size: var(--font-size-h4);
	color: var(--quarternary-color);
	margin: 20px;
}
.populer__box {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: auto auto auto;
	gap: 30px;
	margin: 80px auto 0;
	/* border: var(--border-line); */
}
.populer__child {
	width: 350px;
	height: auto;
	gap: 15px;
	box-shadow: 0 0 5px 0 rgb(0, 0, 0, 0.4);
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
}
.populer__image {
	width: 350px;
	height: auto;
	transition: var(--transition);
}
.populer__image:hover {
	filter: grayscale(0.5);
}
.populer__span {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.populer__child__title {
	font-size: var(--font-size-h3);
	margin-top: 30px;
}
.populer__child__text {
	font-size: var(--font-size-h5);
	width: 75%;
	color: var(--quarternary-color);
	text-align: justify;
}
.populer__child__box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.populer__child__box-icon {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	padding: 20px 20px 30px;
}
.populer__child__icon {
	width: 20px;
	height: 20px;
	color: var(--secondary-color);
	display: block;
	font-size: var(--font-size-h3);
}
.populer__button {
	width: 150px;
	height: auto;
	border: none;
	outline: none;
	padding: 10px;
	border-radius: 50px;
	background-color: #000;
	cursor: pointer;
	position: absolute;
	text-align: center;
	right: 2%;
	transition: var(--transition);
	color: var(--ternary-color);
}
.populer__button:hover {
	transform: scale(1.1);
}

/* ? gallery */
.gallery {
	position: relative;
	padding: 140px var(--padding-inset);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
}
.gallery__title {
	font-size: var(--font-size-h2);
	text-align: center;
	width: 70%;
}
.gallery__title--second {
	font-size: var(--font-size-h3);
	text-align: left;
	margin: 20px;
	position: absolute;
	top: 70%;
	left: 0;
	color: var(--ternary-color);
	text-shadow: 0 0 15px rgb(0, 0, 0, 0.4);
}
.gallery__text {
	font-size: var(--font-size-h4);
	color: var(--quarternary-color);
	margin: 20px;
}
.gallery__box {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: auto auto auto;
	gap: 20px;
	margin: 80px auto 0;
}
.gallery__child {
	width: 400px;
	height: auto;
	gap: 15px;
	box-shadow: 0 0 5px 0 rgb(0, 0, 0, 0.4);
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}
.gallery__image {
	width: 400px;
	height: auto;
	transition: var(--transition);
	display: block;
}
.gallery__image:hover {
	filter: grayscale(0.5);
}

/* ! fourth */

/* ! fifth */
/* ? hero fifth */
.hero__fifth {
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url('images/contact.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.hero__fifth__box {
	padding: 460px var(--padding-inset) 360px;
	color: var(--ternary-color);
}
.hero__fifth__title {
	font-size: var(--font-size-h1);
	text-align: center;
}
.hero__fifth__text {
	font-size: var(--font-size-h4);
	text-align: center;
	color: var(--ternary-color);
	display: block;
}
.hero__fifth__span {
	display: block;
	margin-top: -10px;
}
/* ? contact */
.contact {
	position: relative;
	padding: 140px var(--padding-inset);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
}
.contact__title {
	font-size: var(--font-size-h2);
	text-align: center;
}
.contact__title--second {
	font-size: var(--font-size-h3);
	text-align: left;
	margin: 20px;
}
.contact__text {
	font-size: var(--font-size-h4);
	color: var(--quarternary-color);
	margin: 20px;
}
.contact__box {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: auto auto;
	gap: 60px;
	margin: 80px auto 0;
	/* border: var(--border-line); */
}
.contact__child {
	width: 600px;
	height: auto;
	gap: 15px;
	box-shadow: 0 0 5px 0 rgb(0, 0, 0, 0.4);
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.contact__form {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.contact__input {
	width: 100%;
	height: 60px;
	margin: 10px 0;
	padding: 15px;
	border-radius: 10px;
	border: 0.5px solid var(--quarternary-color);
	outline: none;
	color: var(--quarternary-color);
	font-size: var(--font-size-h4);
	caret-color: var(--primary-color);
}
.contact__input--textarea {
	height: 200px;
	resize: none;
}
.contact__button {
	width: 100%;
	height: auto;
	border: none;
	outline: none;
	padding: 10px;
	border-radius: 50px;
	background-color: var(--primary-color);
	cursor: pointer;
	text-align: center;
	transition: var(--transition);
	color: var(--ternary-color);
	padding: 20px;
	margin-top: 30px;
}
.contact__button:hover {
	transform: scale(1.1);
}
.contact__right {
	display: grid;
	align-items: center;
	justify-content: center;
	gap: 40px 20px;
	grid-template-columns: auto auto;
}
.contact__address {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	gap: 20px;
}
.contact__address__title {
	font-size: var(--font-size-h3);
}
.contact__address__box {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.contact__address__text {
	font-size: var(--font-size-h4);
	color: var(--quarternary-color);
	transition: var(--transition);
}
.contact__address__text:hover {
	opacity: 0.5;
}

/* ! universal styles */
/* ? subcribe */
.subcribe {
	position: relative;
	padding: 140px var(--padding-inset);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	background-color: var(--secondary-color);
	color: var(--ternary-color);
}
.subcribe__title {
	font-size: var(--font-size-h2);
	text-align: center;
}
.subcribe__text {
	font-size: var(--font-size-h4);
	text-align: center;
}
.subcribe__box {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 90px auto 0;
	width: 50%;
	position: relative;
}
.subcribe__input {
	width: 100%;
	height: auto;
	border: none;
	outline: none;
	padding: 25px;
	border-radius: 50px;
	color: var(--quarternary-color);
	font-size: var(--font-size-h4);
	caret-color: var(--secondary-color);
}
.subcribe__button {
	width: 120px;
	height: auto;
	border: none;
	outline: none;
	padding: 13px;
	border-radius: 50px;
	background-color: #000;
	cursor: pointer;
	position: absolute;
	text-align: center;
	right: 2%;
	transition: var(--transition);
}
.subcribe__button:hover {
	transform: scale(1.1);
}

/* ? totop */
.totop {
	width: 50px;
	height: 50px;
	position: fixed;
	top: 85%;
	left: 8%;
	background-color: var(--primary-color);
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
	z-index: 99;
}
.totop__icon {
	font-size: var(--font-size-h3);
	color: var(--ternary-color);
}

/* ? footer */
.footer {
	position: relative;
}
.footer__box {
	padding: 120px var(--padding-inset);
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 40px;
}
.footer__logo {
	width: 150px;
	float: left;
	display: block;
}
.footer__child {
	width: 20%;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	column-gap: 50px;
}
.footer__child:first-child {
	width: 38%;
}
.footer__box__icon {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: flex-start;
}
.footer__bg__icon {
	width: 40px;
	height: 40px;
	overflow: hidden;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: var(--transition);
	cursor: pointer;
}
.footer__bg__icon:hover {
	background-color: var(--secondary-color);
}
.footer__icon {
	font-size: var(--font-size-h4);
	display: block;
	cursor: pointer;
	color: var(--ternary-color);
	text-align: center;
}
.footer__title {
	font-size: var(--font-size-h3);
}
.footer__text {
	font-size: var(--font-size-h4);
	color: var(--quarternary-color);
	transition: var(--transition);
}
.footer__text:hover {
	opacity: 0.5;
}
.footer__copyright {
	width: 100%;
	display: block;
	background-color: #000;
	padding: 40px;
}
.footer__copyright__text {
	font-size: var(--font-size-h4);
	color: var(--ternary-color);
	text-align: center;
}

/* ? media query */
/* medium */
@media only screen and (max-width: 900px) {
	:root {
		--font-size-h1: 65px;
		--font-size-h2: 45px;
		--font-size-h3: 20px;
		--font-size-h4: 16px;
		--font-size-h5: 13px;
	}
	.header__nav {
		display: none;
	}
	.header__logo {
		width: 120px;
	}
	.hidden__button {
		display: block;
	}
	/* ! page one */
	.hero__search {
		width: 75%;
	}
	/* .explore__box:nth-last-child(),
	.services__box:nth-last-child(),
	.testimonial__box:nth-last-child() {
		justify-content: start;
	} */
	.explore__box {
		/* flex-direction: column; */
		flex-wrap: wrap;
	}
	.explore__child {
		/* flex: 1 0 40%; */
		width: 45%;
	}
	.services__box {
		/* flex-direction: column; */
		flex-wrap: wrap;
	}
	.services__child {
		/* flex: 1 0 40%; */
		width: 45%;
	}
	.testimonial__box {
		/* flex-direction: column; */
		flex-wrap: wrap;
	}
	.testimonial__child {
		/* flex: 1 0 40%; */
		width: 45%;
	}
	/* ! page two */
	.skill__box {
		/* flex-direction: column; */
		flex-wrap: wrap;
	}
	.skill__child {
		/* flex: 1 0 40%; */
		width: 45%;
	}
	.update__box {
		/* flex-direction: column; */
		flex-wrap: wrap;
	}
	.update__child {
		/* flex: 1 0 40%; */
		width: 45%;
	}
	/* ! page three */
	.populer__box {
		grid-template-columns: auto;
	}
	.populer__child {
		width: 500px;
	}
	.populer__image {
		width: 500px;
	}
	.gallery__box {
		grid-template-columns: auto;
	}
	.gallery__child {
		width: 500px;
	}
	.gallery__image {
		width: 500px;
	}
	/* ! fourth page */
	/* ! fifth page */
	.contact__box {
		grid-template-columns: auto;
	}
	.contact__child {
		width: 500px;
	}
	.contact__image {
		width: 500px;
	}
	.contact__title {
		text-align: center;
	}
	.contact__text {
		text-align: center;
	}
	.contact__child--left {
		order: 2;
	}
	.contact__child--right {
		order: 1;
	}

	/* ! universal styles */
	.subcribe__box {
		width: 75%;
	}
	.footer__box {
		padding: 100px var(--padding-inset);
		flex-direction: row;
		flex-wrap: wrap;
	}
	.footer__child {
		width: 40%;
	}
}
/* small */
@media only screen and (max-width: 600px) {
	:root {
		--font-size-h1: 45px;
		--font-size-h2: 32px;
		--font-size-h3: 17px;
		--font-size-h4: 14px;
		--font-size-h5: 11px;
	}
	.header {
		height: 80px;
	}
	.header__logo {
		width: 100px;
	}
	.hidden__box {
		width: 200px;
		top: 80px;
	}
	/* ! page one */
	.hero__box {
		padding: 180px var(--padding-inset) 100px;
	}
	.hero__left {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.hero__span {
		display: inline-block;
	}
	.hero__search {
		width: 90%;
	}
	.explore {
		padding: 100px var(--padding-inset);
	}
	.services {
		padding: 100px var(--padding-inset);
	}
	.testimonial {
		padding: 100px var(--padding-inset);
	}
	.explore__box {
		flex-direction: column;
	}
	.services__box {
		flex-direction: column;
	}
	.testimonial__box {
		flex-direction: column;
	}
	.explore__child {
		flex: 1 0 60%;
		width: 320px;
	}
	.services__child {
		flex: 1 0 60%;
		width: 320px;
	}
	.testimonial__child {
		flex: 1 0 60%;
		width: 320px;
	}
	/* ! page two */
	.hero__second__box {
		padding: 400px var(--padding-inset) 300px;
	}
	.skill {
		padding: 100px var(--padding-inset);
	}
	.skill__box {
		flex-direction: column;
	}
	.skill__child {
		flex: 1 0 60%;
		width: 320px;
	}
	.update {
		padding: 100px var(--padding-inset);
	}
	.update__box {
		flex-direction: column;
	}
	.update__child {
		flex: 1 0 60%;
		width: 320px;
	}
	/* ! page three */
	.hero__third__box {
		padding: 400px var(--padding-inset) 300px;
	}
	.populer {
		padding: 100px var(--padding-inset);
	}
	.populer__child {
		width: 300px;
	}
	.populer__image {
		width: 300px;
	}
	.gallery {
		padding: 100px var(--padding-inset);
	}
	.gallery__child {
		width: 300px;
	}
	.gallery__image {
		width: 300px;
	}
	/* ! fourth page */
	/* ! fifth page */
	.hero__fifth__box {
		padding: 400px var(--padding-inset) 300px;
	}
	.contact {
		padding: 100px var(--padding-inset);
	}
	.contact__child {
		width: 300px;
	}
	.contact__image {
		width: 300px;
	}
	.contact__right {
		grid-template-columns: auto;
	}
	.contact__address {
		align-items: center;
		justify-content: center;
	}
	.contact__address__box {
		align-items: center;
		justify-content: center;
	}
	.contact__address__text {
		text-align: center;
	}

	/* ! universal styles */
	.subcribe__box {
		width: 90%;
	}
	.footer__bg__icon {
		width: 32px;
		height: 32px;
	}
}
